In [9]:
import sqlite3

import pandas as pd

In [10]:
df = pd.read_csv('../data/raw/Cereal.csv', index_col=0, sep=';', decimal=',')

In [11]:
df.head()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
String,Categorical,Categorical,Int,Int,Int,Int,Float,Float,Int,Int,Int,Int,Float,Float,Float
100% Bran,N,C,70,4,1,130,10,5,6,280,25,3,1,00.33,68.402.973
100% Natural Bran,Q,C,120,3,5,15,2,8,8,135,0,3,1,1,33.983.679
All-Bran,K,C,70,4,1,260,9,7,5,320,25,3,1,00.33,59.425.505
All-Bran with Extra Fiber,K,C,50,4,0,140,14,8,0,330,25,3,1,00.05,93.704.912

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 78 entries, String to Wheaties Honey Gold
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   mfr       78 non-null     object
 1   type      78 non-null     object
 2   calories  78 non-null     object
 3   protein   78 non-null     object
 4   fat       78 non-null     object
 5   sodium    78 non-null     object
 6   fiber     78 non-null     object
 7   carbo     78 non-null     object
 8   sugars    78 non-null     object
 9   potass    78 non-null     object
 10  vitamins  78 non-null     object
 11  shelf     78 non-null     object
 12  weight    78 non-null     object
 13  cups      78 non-null     object
 14  rating    78 non-null     object
dtypes: object(15)
memory usage: 9.8+ KB

In [13]:
df.describe()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,78,78,78,78,78,78,78,78,78,78,78,78,78,78,78
unique,8,3,12,7,6,28,14,23,18,37,4,4,8,13,78
top,K,C,110,3,1,0,0,13,3,110,25,3,1,1,Float
freq,23,74,29,28,30,9,19,8,13,5,63,36,64,30,1

In [14]:
conn = sqlite3.connect('../data/db/Cereal.db')

In [15]:
df.to_sql('cereals', conn, if_exists='replace', index=False)

78

In [16]:
query = "SELECT * FROM cereals"

pd.read_sql_query(query, conn)

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,Categorical,Categorical,Int,Int,Int,Int,Float,Float,Int,Int,Int,Int,Float,Float,Float
1,N,C,70,4,1,130,10,5,6,280,25,3,1,00.33,68.402.973
2,Q,C,120,3,5,15,2,8,8,135,0,3,1,1,33.983.679
3,K,C,70,4,1,260,9,7,5,320,25,3,1,00.33,59.425.505
4,K,C,50,4,0,140,14,8,0,330,25,3,1,00.05,93.704.912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,G,C,110,2,1,250,0,21,3,60,25,3,1,"0,052083333",39.106.174
74,G,C,110,1,1,140,0,13,12,25,25,2,1,1,27.753.301
75,R,C,100,3,1,230,3,17,3,115,25,1,1,"0,046527778",49.787.445
76,G,C,100,3,1,200,3,17,3,110,25,1,1,1,51.592.193
77,G,C,110,2,1,200,1,16,8,60,25,1,1,"0,052083333",36.187.559