In [1]:
import sqlite3

import pandas as pd

In [2]:
df = pd.read_csv('../data/raw/Cereal.csv', index_col=0, sep=';', decimal=',')

In [3]:
df.head()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
String,Categorical,Categorical,Int,Int,Int,Int,Float,Float,Int,Int,Int,Int,Float,Float,Float
100% Bran,N,C,70,4,1,130,10,5,6,280,25,3,1,00.33,68.402.973
100% Natural Bran,Q,C,120,3,5,15,2,8,8,135,0,3,1,1,33.983.679
All-Bran,K,C,70,4,1,260,9,7,5,320,25,3,1,00.33,59.425.505
All-Bran with Extra Fiber,K,C,50,4,0,140,14,8,0,330,25,3,1,00.05,93.704.912

In [4]:
df = df.drop(df.index[0])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 77 entries, 100% Bran to Wheaties Honey Gold
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   mfr       77 non-null     object
 1   type      77 non-null     object
 2   calories  77 non-null     object
 3   protein   77 non-null     object
 4   fat       77 non-null     object
 5   sodium    77 non-null     object
 6   fiber     77 non-null     object
 7   carbo     77 non-null     object
 8   sugars    77 non-null     object
 9   potass    77 non-null     object
 10  vitamins  77 non-null     object
 11  shelf     77 non-null     object
 12  weight    77 non-null     object
 13  cups      77 non-null     object
 14  rating    77 non-null     object
dtypes: object(15)
memory usage: 9.6+ KB

In [6]:
df.describe()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77,77,77,77,77,77,77,77,77,77,77,77,77,77,77
unique,7,2,11,6,5,27,13,22,17,36,3,3,7,12,77
top,K,C,110,3,1,0,0,13,3,90,25,3,1,1,68.402.973
freq,23,74,29,28,30,9,19,8,13,5,63,36,64,30,1

In [7]:
conn = sqlite3.connect('../data/db/Cereal.db')
cur = conn.cursor()

In [8]:
df.reset_index(inplace=True)
df.to_sql('cereals', conn, if_exists='replace', index=True, index_label='id')

77

In [9]:
query = "SELECT * FROM cereals"

pd.read_sql_query(query, conn)

,id,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,0,100% Bran,N,C,70,4,1,130,10,5,6,280,25,3,1,00.33,68.402.973
1,1,100% Natural Bran,Q,C,120,3,5,15,2,8,8,135,0,3,1,1,33.983.679
2,2,All-Bran,K,C,70,4,1,260,9,7,5,320,25,3,1,00.33,59.425.505
3,3,All-Bran with Extra Fiber,K,C,50,4,0,140,14,8,0,330,25,3,1,00.05,93.704.912
4,4,Almond Delight,R,C,110,2,2,200,1,14,8,-1,25,3,1,"0,052083333",34.384.843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,72,Triples,G,C,110,2,1,250,0,21,3,60,25,3,1,"0,052083333",39.106.174
73,73,Trix,G,C,110,1,1,140,0,13,12,25,25,2,1,1,27.753.301
74,74,Wheat Chex,R,C,100,3,1,230,3,17,3,115,25,1,1,"0,046527778",49.787.445
75,75,Wheaties,G,C,100,3,1,200,3,17,3,110,25,1,1,1,51.592.193
76,76,Wheaties Honey Gold,G,C,110,2,1,200,1,16,8,60,25,1,1,"0,052083333",36.187.559